:root {
    --background-color: #f0f0f0;
    --text-color: #333;
    --container-background: #ffffff;
    --button-background: #008CBA;
    --button-text-color: white;
    --lotto-number-background: #4CAF50;
    --lotto-number-text-color: white;
}

body.dark-mode {
    --background-color: #333;
    --text-color: #f0f0f0;
    --container-background: #444;
    --button-background: #005f73;
    --button-text-color: #f0f0f0;
    --lotto-number-background: #028090;
    --lotto-number-text-color: #f0f0f0;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
}

.container {
    text-align: center;
    background-color: var(--container-background);
    color: var(--text-color);
}

.lotto-numbers {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.lotto-number {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--lotto-number-background);
    color: var(--lotto-number-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    font-size: 24px;
    font-weight: bold;
}

#generate-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: var(--button-background);
    color: var(--button-text-color);
}

/* Contact Form Styles */
.contact-form-container {
    background-color: var(--container-background);
    color: var(--text-color);
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.contact-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-color);
}

.contact-form-container form {
    display: flex;
    flex-direction: column;
}

.contact-form-container label {
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--text-color);
}

.contact-form-container input[type="text"],
.contact-form-container input[type="email"],
.contact-form-container textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: var(--background-color); /* Use theme background for input fields */
    color: var(--text-color); /* Use theme text color for input fields */
}

.contact-form-container textarea {
    resize: vertical;
}

.contact-form-container button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: var(--button-background);
    color: var(--button-text-color);
    transition: background-color 0.3s ease;
}

.contact-form-container button[type="submit"]:hover {
    filter: brightness(1.1);
}